@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #000000;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold tracking-tighter uppercase;
  }
}

@layer utilities {
  .text-balance { text-wrap: balance; }
}
